################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CMSWebApp/bin/Debug/net8.0
/CMSWebApp/CMSWebApp.csproj.user
/CMSWebApp/obj
